<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BaiduMapAK" value="uF7lUt08EpltOtIByetgvYqVu8ePfD0R,sMfqPU6gC6bgZpiu89VuFPP4wsAnq8l7,YagXs5cc15znbZU7IA7XxOL6RBY2G0mL,nKoUjlEmAomD7m3XGWuO1tjPE8Ic7uT7,HZMcgbQbaQej9XYRG002r0krm7KaegsY,3ApS0HOrLpNC6dIHFUSVwMyUAwCrgO8Q,LlHTBT01Q1IdXiBtyFInCY8sUX03E1ou,7H2q3AQZOPSIffH30uiA0ik3hYbOwarl,PDdmldDmurLeu0fIWGfEc2s5CoTgq4hB,4sFn60sijBVTPVlokO2IZt5GFQ6X5gZ6"/>
  </appSettings>
</configuration>